section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url(.././../assets/imgs/bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.formBox{
    position: relative;
    width: 400px;
    height: auto;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.titleReg{
    font-size: 2em;
    color: #fff;
    text-align: center;
    padding-top: 15px;
}
.inputBox{
    position: relative;
    margin: 20px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}
.boxInput{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #fff;
}
.labelText{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
.labelText.active {
    top: -5px;
}
ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}
.btnAuth{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #ff9c12da;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
.errorMess{
    color: #fff042;
    font-size: 12px;
}

.boxInput:focus ~ label,
.boxInput:valid ~ label{
top: -1px;
}

.btnChange{
    font-size: 14.5px;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

a:hover{
    text-decoration: none;
}

